<ion-content>
    <ion-card>

        <div class="header">
            <h4>درباره</h4>
            <ion-button slot="end" fill="clear" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </div>

        <ion-card-content>
            <h3><b>{{about.h1}}</b></h3>
            <ion-label>
               {{about.p1}}<br><br>{{about.p2}}<br><br>{{about.p3}}<br><br>{{about.p4}}
            </ion-label>
        </ion-card-content>
    </ion-card>

</ion-content>