<ion-list>
  <ion-item>
    <ion-label>اشتراک در: </ion-label>
    <ion-icon name="logo-facebook" (click)="facebook()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>اشتراک در تویتر: </ion-label>
    <ion-icon name="logo-twitter" (click)="twitter()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>اشتراک در انستاگرام: </ion-label>
    <ion-icon name="logo-instagram" (click)="instagram()"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>اشتراک در واتساب: </ion-label>
    <ion-icon name="logo-whatsapp" (click)="whatsapp()"></ion-icon>
  </ion-item>
</ion-list>


        