<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <div class="header">
      <h4>کتابخانه</h4>
      <ion-button slot="end" fill="clear" (click)="openMenu($event)">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </div>

    <div class="content">
      <div class="element" *ngFor="let book of books" (click)="getBookById(book.id)">
        <img src="../../assets/images/{{book.image}}" alt="" />
        <ion-title>{{book.name}}</ion-title>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="no-item" *ngIf="!books.length">باعرض معزرت، این معلومات هنوز آماده نشده</div>

    </div>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openTypeMenu($event)">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>