<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <div class="header">
      <h4> رویدادهای تاریخی </h4>
      <ion-button slot="end" fill="clear" (click)="openMenu($event)">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </div>

    <ion-item *ngFor="let event of events" (click)="getEventById(event.id)">
      
      <ion-thumbnail slot="start" border-radius>
        <img src="../../assets/images/{{event.file}}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{event.title}}</h3>
        <p>{{event.place}}</p>
        <p>{{event.date}}</p>
        <p>{{event.details}}</p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <div class="no-item" *ngIf="!events.length">باعرض معزرت، این معلومات هنوز آماده نشده</div>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openTypeMenu($event)">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>