<ion-list>
  <div class="menu-head">
    <img src="assets/images/boda6.jpeg" alt="">
  </div>
  <ion-item (click)="about()">
    <ion-label>درباره ما</ion-label>
  </ion-item>

  <ion-item (click)="donate()">
    <ion-label>حمایت کننده ها</ion-label>
  </ion-item>

  <ion-item (click)="language()">
    <ion-label>زبان</ion-label>
  </ion-item>

  <ion-item (click)="calendar()">
    <ion-label>تقویم</ion-label>
  </ion-item>
  <ion-item (click)="refrences()">
    <ion-label>منابع</ion-label>
  </ion-item>
  <ion-item (click)="shareApp()">
    <ion-label>اشتراک گزاری</ion-label>
  </ion-item>
  <ion-item (click)="moreApps()">
    <ion-label>اپلیکیشن های بشتر</ion-label>
  </ion-item>
  <ion-item (click)="settings()">
    <ion-label>تنظیمات</ion-label>
  </ion-item>
</ion-list>
