<ion-content>
  <ion-card>
    <div class="header">
      <h4>حمایت کننده ها</h4>
      <ion-button slot="end" fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>
    <ion-card-content>
      <ion-label>
        بخاطر بهتر کردن و اضافه نمودن خصوصیات جدید در این اپلیکیشن ما نیاز به همکاری شما داریم.
      </ion-label>
      <br>
      <div class="payment">
        <a href="https://www.paypal.com">
          <img src="../../../assets/images/paypal.webp" alt="" width="20">
        </a>
        <a href="https://www.paypal.com">
          <img src="../../../assets/images/master-cart.png" alt="" width="20">
        </a>
      </div>


      <!--       <form [formGroup]="userForm" (submit)="saveUser()">
        <ion-item>
          <ion-label position="floating">نام حمایت کننده</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">شماره کارت</ion-label>
          <ion-input formControlName="card_number" type="number" max="14" min="14"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">تاریخ انقضا کارت</ion-label>
          <ion-input formControlName="expire_date" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">کود 3 رقمی در عقب کارت</ion-label>
          <ion-input formControlName="back_code" type="number" max="3" min="3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">مقدار</ion-label>
          <ion-input formControlName="amount" type="number"></ion-input>
        </ion-item>


        <ion-button type="submit" [disabled]="!userForm.valid">ارسال</ion-button>
      </form> -->
      <ion-list>
        <ion-list-header>
          <ion-label><b>لست حمایت کننده ها</b></ion-label>
        </ion-list-header>
        <ion-item>
          استاد کریم خلیلی
        </ion-item>
        <ion-item>
          استاد حاجی محمد محقیق
        </ion-item>
        <ion-item>
          جنبش روشنایی
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>