ion-card{
    min-height: calc(100vh - 20px);
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            font-size: 18px;
            margin: 18px;
        }
    }
    .payment{
        display: flex;
        justify-content: start;
        img{
            width: 40px;
            margin: 20px;
        }
    }
}