
<ion-content>
    <ion-card>
    <ion-button slot="end" fill="clear" (click)="openMenu($event)">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
        <ion-slides pager="true" [options]="slideOpts" pager="true">
            <ion-slide *ngFor="let slide of slides">
              
                <div class="bg-img" [ngStyle]="{ 'background-image': 'url(../../assets/images/' + slide.file + ')'}"></div>
              
            </ion-slide>
        </ion-slides>
    </ion-card>

</ion-content>
